
.contact-container {
  margin-bottom: 30px;

  .greeting {
    margin-top: 20px;
    text-align: center;
    p {
      margin-bottom: 5px;
      font-size: 17px;
    }
  }
  .btn-group {
    ul {
      width: 100%;
      text-align: center;
    }
  }
  .form-group, .btn-group {
    margin-bottom: 20px;
  }
}
