$headings-font-family: Roboto, $font-family-sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);

@font-face {
  font-family: 'showguide';
  src: url('styles/fonts/showguide/showguide-webfont.woff2') format('woff2'),
       url('styles/fonts/showguide/showguide-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url('styles/fonts/bebas/bebas.woff2') format('woff2'),
       url('styles/fonts/bebas/bebas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'western';
  src: url('styles/fonts/western/western.woff2') format('woff2'),
       url('styles/fonts/western/western.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 0.7;
}

a {
  cursor: pointer;
  &:hover, &:active {
    text-decoration: none;
  }
}

h1, h2, .showguide {
  font-family: showguide;
  letter-spacing: 1px;
  span {
    position: relative;
    top: 0.07em;
  }
}

h1 {
  font-size: 45px;
  .bolo-text svg {
    width: 80px;
  }
  @media(min-width: $screen-sm-min) { font-size: 70px; }
}

h2 {
  font-size: 40px;
  .bolo-text svg {
    width: 40px;
  }
}

.popover-content {
  color: $gray-dark;
}

.separator-bullet {
  position: relative;
  top: 1px;

  font-weight: bold;
  padding: 0 2px;
}

.bolo-text {
  * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
    }
  }
}
