
$min-viewport-height: 850px;
$base-spacing: 30px;

html,
body {
  height: 100%;
  background: $body-bg;
  user-select: none;
}

// ============================================================================
// Bootstrap Override
// ============================================================================
.thumbnail {
  padding: 0;
  border: 0 none;
  box-shadow: none;
}

// ============================================================================
// Animations
// ============================================================================
.fadein {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

// ============================================================================
// Helpers
// ============================================================================
.full-size {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-buffer {
  margin-top: 15px;
  @media(min-width: $screen-sm-min) {
    margin-top: $base-spacing;
  }
}

.bordered {
  border-top: 2px solid $gray-dark;
  border-bottom: 2px solid $gray-dark;
}

// ============================================================================
// Layout
// ============================================================================
$footer-height: 75px;

.body {
  margin-bottom: $base-spacing;
  min-height: calc(100vh - 176px);
}

.app-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: $footer-height;
}

.footer-container {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: $footer-height;
  padding: $base-spacing;
  background-color: $gray-lighter;
  color: $gray;
}

.container {
  transition: width 0.12s ease-in-out, border-width 0.25s;
  &.container-squeeze {
    @media(min-width: $screen-md-min) {
      width: $screen-md-min;
    }
  }
}

.carousel {
  .carousel-inner {
    background: $gray-base;
  }
  img {
    margin: 0 auto;
  }
  @media(max-width: $screen-sm-max) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.page-header-klass {
  .title {
    h3 {
      margin: 3px 0 0 0;
    }
  }
}

.navbar {
  .navbar-brand {
    color: $gray-lighter;
    @media(min-width: $screen-md-min) {
      display: none;
    }
  }
  @media(max-width: $screen-xs-max) {
    margin-bottom: 0;
  }
}

// ============================================================================
// Buttons & Forms
// ============================================================================

button {
  &.naked {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
.btn {
  .fa {
    margin-right: 10px;
  }
}

.action-buttons {
  button {
    border-radius: 0px;
    color: $gray-dark;
    @media(max-width: $screen-xs-max) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
