
.store-container {
  h1 {
    margin: 20px 0;
  }
  .store-items {
    position: relative;
    min-height: 200px;

    .filters {
      padding: 15px 0;
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
      .filter-container {
        &:last-child {
          float: right;
          @media (max-width: $screen-xs-max) {
            float: none !important;
          }
        }
        button.active {
          text-shadow: 0px 0px 1px $gray-dark;
        }
      }
    }

    .thumbnail {
      position: relative;
      cursor: pointer;

      .caption {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;

        color: white;
        text-transform: uppercase;
        padding: 0;

        > * {
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .5s;
        }

        .meta {
          position: absolute;
          bottom: 0; left: 0; right: 0;
          width: 100%;
          height: 15%;
          opacity: 0;
          font-weight: bold;
          font-size: 11px;
          @media (min-width: $screen-sm-min) {
            font-size: 17px;
          }
        }

        .title {
          height: 100%;
          h2 { font-size:25px; }
          &.with-meta {
            height: 85%;
          }
          &:not(.sold-out) {
            opacity: 0;
          }
          @media (min-width: $screen-sm-min) {
            padding:25px;
          }
        }
      }
    }
  }
}
